.editorContent {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    gap: 12px;
}

.box {
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 2px 2px 20px 1px gray;
    
    padding: 16px 20px;
}

.resetBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;  

    & button {
        background: none;

        &.resetBtn {
            color: var(--red-color);
        }

        &.loadBtn {
            background-color: var(--light-color);
        }
        &:active {
            background-color: rgb(222, 222, 222);
          }

        & path {
            fill: var(--red-color);
        }

        & svg {
            margin-right: 0.5rem;
            transform: translate(0, -0.1rem);
        }
    }
}

.inputContent {
    & label {
        display: block;
        font-weight: bold;
    }

    & input {
        background-color: var(--light-color);
        padding: 0.1rem 1rem;
        margin: 0.5rem 0rem;
        width: 100%;

        border: 2px solid transparent;
        border-radius: 1.5rem;

        &:focus {
            outline: 2px solid blue;
        }
    }
}

.headerBox {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;

    background-color: var(--white-color);
}

.educationForm {
    grid-column: span 2;
}

.displayBtn {
    background-color: transparent;
    border: none;

    &:hover {
        border: none;
        & path {
            fill: rgb(23, 23, 23);
        }
    }
}

.closed {
    button {
        transform: rotate(180deg);
    }

}

.submitBar {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 10px;

    margin-top: 20px;
}

.saveBtn {
    color: var(--white-color);
    background-color: rgb(0, 98, 255);
    &:active {
        background-color: rgb(0, 81, 255);
    }
}

.educationList {
    display: grid;
    & button {
        background-color: var(--white-color);
        border: 2px solid var(--light-color);
        border-radius: 2rem;
        padding: 0.2rem 1.5rem;
        justify-self: center;

        &:hover {
            border: 2px solid black;
        }
    }
}

.educationItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0.5rem 0.5rem;

    font-size: 1.1rem;
    font-weight: bold;

    & p:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    & path {
        fill: black;
    }

    & svg {
        margin-right: 0.5rem;
        transform: translate(0, 0.4rem);
        &:hover {
            cursor: pointer;
        }
    }
}

.hiddenIcon path {
    d: path("m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z") 
}

.visibleIcon path {
    d: path("M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z") 
}